In [97]:
import pandas as pd
CostofLiving2022= pd.read_csv(r'C:\Users\linds\OneDrive\Documents\UCDPAData\World_Population_Review_2022.csv')

In [98]:
CostofLiving2022.head()

,ranking,country,costLivingIndex,rentIndex,costLivingPlusRentIndex,groceriesIndex,restaurantPriceIndex,localPurchasingPowerIndex
0,1,Bermuda,147.77,85.70,117.54,146.63,152.52,78.17
1,2,Switzerland,125.69,51.20,89.41,124.93,118.55,114.83
2,3,Norway,96.80,32.61,65.54,89.55,96.81,83.40
3,4,Iceland,90.19,38.54,65.04,80.91,97.17,74.78
4,5,Japan,86.22,26.18,56.98,86.84,48.07,78.88

In [99]:
CostofLiving2022.shape

(132, 8)

In [100]:
df = pd.DataFrame(CostofLiving2022)
print (df)

     ranking      country  costLivingIndex  rentIndex  \
0          1      Bermuda           147.77      85.70
1          2  Switzerland           125.69      51.20
2          3       Norway            96.80      32.61
3          4      Iceland            90.19      38.54
4          5        Japan            86.22      26.18
..       ...          ...              ...        ...
127      131        Syria            27.04       5.77
128      132  Afghanistan            26.71       3.99
129      133   Kyrgyzstan            24.70       7.78
130      134        India            24.12       5.50
131      135     Pakistan            21.00       4.28

     costLivingPlusRentIndex  groceriesIndex  restaurantPriceIndex  \
0                     117.54          146.63                152.52
1                      89.41          124.93                118.55
2                      65.54           89.55                 96.81
3                      65.04           80.91                 97.17
4                      56.98           86.84                 48.07
..                       ...             ...                   ...
127                    16.68           24.42                 23.21
128                    15.65           18.99                 18.48
129                    16.46           21.76                 20.96
130                    15.05           24.57                 16.38
131                    12.86           18.21                 16.25

     localPurchasingPowerIndex
0                        78.17
1                       114.83
2                        83.40
3                        74.78
4                        78.88
..                         ...
127                       9.48
128                      28.19
129                      23.56
130                      50.55
131                      28.39

[132 rows x 8 columns]

In [101]:
CostofLiving2022_IndexChange = CostofLiving2022.set_index("country")

In [102]:
print(CostofLiving2022_IndexChange)

             ranking  costLivingIndex  rentIndex  costLivingPlusRentIndex  \
country
Bermuda            1           147.77      85.70                   117.54
Switzerland        2           125.69      51.20                    89.41
Norway             3            96.80      32.61                    65.54
Iceland            4            90.19      38.54                    65.04
Japan              5            86.22      26.18                    56.98
...              ...              ...        ...                      ...
Syria            131            27.04       5.77                    16.68
Afghanistan      132            26.71       3.99                    15.65
Kyrgyzstan       133            24.70       7.78                    16.46
India            134            24.12       5.50                    15.05
Pakistan         135            21.00       4.28                    12.86

             groceriesIndex  restaurantPriceIndex  localPurchasingPowerIndex
country
Bermuda              146.63                152.52                      78.17
Switzerland          124.93                118.55                     114.83
Norway                89.55                 96.81                      83.40
Iceland               80.91                 97.17                      74.78
Japan                 86.84                 48.07                      78.88
...                     ...                   ...                        ...
Syria                 24.42                 23.21                       9.48
Afghanistan           18.99                 18.48                      28.19
Kyrgyzstan            21.76                 20.96                      23.56
India                 24.57                 16.38                      50.55
Pakistan              18.21                 16.25                      28.39

[132 rows x 7 columns]

In [103]:
CostofLiving2022_IndexChange.columns = ['Overall CoLiving Rank', 'CoLiving', 'Rent', 'CoLiving + Rent', 'Groceries', 'Restaurant Price', 'Local Purchasing Power']

In [104]:
print(CostofLiving2022_IndexChange.head())

             Overall CoLiving Rank  CoLiving   Rent  CoLiving + Rent  \
country
Bermuda                          1    147.77  85.70           117.54
Switzerland                      2    125.69  51.20            89.41
Norway                           3     96.80  32.61            65.54
Iceland                          4     90.19  38.54            65.04
Japan                            5     86.22  26.18            56.98

             Groceries  Restaurant Price  Local Purchasing Power
country
Bermuda         146.63            152.52                   78.17
Switzerland     124.93            118.55                  114.83
Norway           89.55             96.81                   83.40
Iceland          80.91             97.17                   74.78
Japan            86.84             48.07                   78.88

In [105]:
CostofLiving2022_IndexChange["CoLiving"].max()

147.77

In [106]:
CostofLiving2022_IndexChange["CoLiving"].min()

21.0

In [107]:
CostofLiving2022_IndexChange["CoLiving"].median()

45.004999999999995

In [108]:
def maximum (column):
    return column.max()

CostofLiving2022_IndexChange[["CoLiving", "Rent", "CoLiving + Rent", "Groceries", "Restaurant Price", "Local Purchasing Power"]].agg(maximum)

CoLiving                  147.77
Rent                       85.70
CoLiving + Rent           117.54
Groceries                 146.63
Restaurant Price          152.52
Local Purchasing Power    114.83
dtype: float64

In [109]:
print(CostofLiving2022_IndexChange.loc[["Bermuda"]])

         Overall CoLiving Rank  CoLiving  Rent  CoLiving + Rent  Groceries  \
country
Bermuda                      1    147.77  85.7           117.54     146.63

         Restaurant Price  Local Purchasing Power
country
Bermuda            152.52                   78.17

In [110]:
# Bermuda is the country with the highest Cost of Living in 2022. It scores highest across all data points except for 'Local Purchasing Power.' This implies that it is expensive to live in Bermuda and individuals have less money to spend or the money they have will enable them to buy less than in other countries. Line 20 shows the maximum values across all columns while line 21 shows the values of Bermuda.

In [111]:
CostofLiving2022_IndexChange["Local Purchasing Power"].min()

2.05

In [112]:
CostofLiving2022_IndexChange["Local Purchasing Power"].max()

114.83

In [113]:
CostofLiving2022_IndexChange[(CostofLiving2022_IndexChange["Local Purchasing Power"]==114.83)]

,Overall CoLiving Rank,CoLiving,Rent,CoLiving + Rent,Groceries,Restaurant Price,Local Purchasing Power
country,,,,,,,
Switzerland,2,125.69,51.2,89.41,124.93,118.55,114.83

In [114]:
CostofLiving2022_IndexChange[(CostofLiving2022_IndexChange["Local Purchasing Power"]==2.05)]

,Overall CoLiving Rank,CoLiving,Rent,CoLiving + Rent,Groceries,Restaurant Price,Local Purchasing Power
country,,,,,,,
Cuba,71,43.85,4.3,23.59,38.63,32.13,2.05

In [115]:
# Switzerland is the country with the most 'Local Purchasing Power' in 2022 at 114.83 while Cuba is the country with the least purchasing power in 2022 at 2.05.

In [116]:
CostofLiving2022_IndexChange.sort_values("Local Purchasing Power", ascending=False)

,Overall CoLiving Rank,CoLiving,Rent,CoLiving + Rent,Groceries,Restaurant Price,Local Purchasing Power
country,,,,,,,
Switzerland,2,125.69,51.20,89.41,124.93,118.55,114.83
United States,21,72.47,40.07,56.69,69.68,68.29,108.29
Australia,16,75.89,34.18,55.58,70.62,68.88,103.38
Denmark,6,85.02,33.10,59.74,65.86,95.71,101.27
Luxembourg,7,84.38,55.11,70.13,74.03,86.29,99.86
...,...,...,...,...,...,...,...
Nigeria,122,29.76,27.24,28.53,30.39,17.66,11.10
Myanmar,88,38.47,26.72,32.75,39.35,20.68,10.33
Syria,131,27.04,5.77,16.68,24.42,23.21,9.48
Ethiopia,46,54.86,15.43,35.66,38.08,20.18,9.13
Cuba,71,43.85,4.30,23.59,38.63,32.13,2.05

In [117]:
# The countries that are in Europe, America and Australia have the mose Local Purchasing Power while African countries have lower Local Purchasing Power

In [118]:
CostofLiving2022_IndexChange.sort_values("CoLiving", ascending=False)

,Overall CoLiving Rank,CoLiving,Rent,CoLiving + Rent,Groceries,Restaurant Price,Local Purchasing Power
country,,,,,,,
Bermuda,1,147.77,85.70,117.54,146.63,152.52,78.17
Switzerland,2,125.69,51.20,89.41,124.93,118.55,114.83
Norway,3,96.80,32.61,65.54,89.55,96.81,83.40
Iceland,4,90.19,38.54,65.04,80.91,97.17,74.78
Japan,5,86.22,26.18,56.98,86.84,48.07,78.88
...,...,...,...,...,...,...,...
Syria,131,27.04,5.77,16.68,24.42,23.21,9.48
Afghanistan,132,26.71,3.99,15.65,18.99,18.48,28.19
Kyrgyzstan,133,24.70,7.78,16.46,21.76,20.96,23.56
India,134,24.12,5.50,15.05,24.57,16.38,50.55
Pakistan,135,21.00,4.28,12.86,18.21,16.25,28.39

In [119]:
# In 2022 countries from Europe, America and Asia have the highest cost of living while countries in the Middle East and India appear to have the lowest cost of living

In [120]:
# The cost of living, rent, groceries and restaurant prices appear to stay broadly in alignment while local purchasing power differs

In [121]:
# Web scrape of a table on Income Inequality
from bs4 import BeautifulSoup
import pandas as pd
import requests
import json

url = requests.get('https://worldpopulationreview.com/country-rankings/income-inequality-by-country')
content = BeautifulSoup(url.content, 'lxml')
table = content.find("table")
table_read = pd.read_html(str(table))[0]
Table1 = pd.DataFrame(table_read)
isinstance(Table1, pd.DataFrame)

print(Table1)

           Country Average Income (PPP €)
           Country             Bottom 50% Top 10%   Top 1%
0    United States                  14500  246800  1018700
1           Israel                  11200  211900   713500
2            Chile                   4500  130200   585100
3           Canada                  11900  156000   566900
4           Turkey                   6500  149400   516700
5        Australia                  12900  134200   513300
6          Germany                  15200  148000   509800
7      South Korea                  10600  153200   485200
8           Russia                   7700  104600   483200
9           Sweden                  21500  139200   476900
10          Mexico                   3200   99400   452900
11  United Kingdom                  13300  116700   413900
12           Japan                  10200  137000   400000
13          Poland                  10400  100400   395800
14           Spain                  12900  105500   378800
15          Brazil                   2800   81900   372000
16          France                  16500  116900   357000
17       Argentina                   5600   73500   300800
18    South Africa                   1300   82500   272000
19           Italy                  12100   93900   253700
20           China                   5100   73400   246600
21       Indonesia                   2900   56100   213400
22           India                   2000   42500   161600
23         Morocco                   2100   38700   118500
24         Algeria                   4424   44287   115253
25         Nigeria                   2400   32700    88600

In [87]:
# Web scrape of table 2. The lower the Gini cooefficient the lower income inequality of the country. Gini Coefficient WB is the World Bank data.
url = requests.get('https://worldpopulationreview.com/country-rankings/income-inequality-by-country')
content = BeautifulSoup(url.content, 'lxml')
table = content.find("table",{"class":"jsx-2006211681 table is-striped is-hoverable is-fullwidth tp-table-body is-narrow"})
Table2 = pd.read_html(str(table))[0]
Table2 = pd.DataFrame(Table2)

Table2.columns= ['Country','Gini Coefficient WB', 'Gini Coefficient 2']
del Table2 ['Gini Coefficient 2']
print (Table2)

              Country Gini Coefficient WB
0               China         38.2 (2019)
1               India         35.7 (2011)
2       United States         41.5 (2019)
3           Indonesia         37.3 (2021)
4            Pakistan         29.6 (2018)
..                ...                 ...
172         Greenland                 NaN
173     Faroe Islands                 NaN
174            Tuvalu         39.1 (2010)
175             Nauru         34.8 (2012)
176  Falkland Islands                 NaN

[177 rows x 2 columns]

In [88]:
Table2['Gini Coefficient WB'].str.split(pat = ' ', expand = True)
Table2[['Gini Coefficient', 'Year Recorded']] = Table2['Gini Coefficient WB'].str.split(pat = ' ', expand = True)
print(Table2)

              Country Gini Coefficient WB Gini Coefficient Year Recorded
0               China         38.2 (2019)             38.2        (2019)
1               India         35.7 (2011)             35.7        (2011)
2       United States         41.5 (2019)             41.5        (2019)
3           Indonesia         37.3 (2021)             37.3        (2021)
4            Pakistan         29.6 (2018)             29.6        (2018)
..                ...                 ...              ...           ...
172         Greenland                 NaN              NaN           NaN
173     Faroe Islands                 NaN              NaN           NaN
174            Tuvalu         39.1 (2010)             39.1        (2010)
175             Nauru         34.8 (2012)             34.8        (2012)
176  Falkland Islands                 NaN              NaN           NaN

[177 rows x 4 columns]

In [89]:
Table2['Year Recorded'] = Table2['Year Recorded'].str.replace(r"\(","")
Table2['Year Recorded'] = Table2['Year Recorded'].str.replace(r"\)","")
del Table2['Gini Coefficient WB']
print(Table2)

              Country Gini Coefficient Year Recorded
0               China             38.2          2019
1               India             35.7          2011
2       United States             41.5          2019
3           Indonesia             37.3          2021
4            Pakistan             29.6          2018
..                ...              ...           ...
172         Greenland              NaN           NaN
173     Faroe Islands              NaN           NaN
174            Tuvalu             39.1          2010
175             Nauru             34.8          2012
176  Falkland Islands              NaN           NaN

[177 rows x 3 columns]

<ipython-input-89-ae4699f8b6de>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  Table2['Year Recorded'] = Table2['Year Recorded'].str.replace(r"\(","")
<ipython-input-89-ae4699f8b6de>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  Table2['Year Recorded'] = Table2['Year Recorded'].str.replace(r"\)","")

In [90]:
Na_check= print(Table2.isna())
print(Table2.isna().sum())
Removed_NAs= print(Table2.dropna())

     Country  Gini Coefficient  Year Recorded
0      False             False          False
1      False             False          False
2      False             False          False
3      False             False          False
4      False             False          False
..       ...               ...            ...
172    False              True           True
173    False              True           True
174    False             False          False
175    False             False          False
176    False              True           True

[177 rows x 3 columns]
Country              0
Gini Coefficient    12
Year Recorded       12
dtype: int64
           Country Gini Coefficient Year Recorded
0            China             38.2          2019
1            India             35.7          2011
2    United States             41.5          2019
3        Indonesia             37.3          2021
4         Pakistan             29.6          2018
..             ...              ...           ...
169     Micronesia             40.1          2013
170          Tonga             37.6          2015
171     Seychelles             32.1          2018
174         Tuvalu             39.1          2010
175          Nauru             34.8          2012

[165 rows x 3 columns]

In [73]:
print(isinstance(Table2, pd.DataFrame))

True

In [93]:
#Importing Consumer Price Index (CPI) 2022 as csv to dataframe
import pandas as pd
filename= (r'C:\Users\linds\OneDrive\Documents\BA Project/CPI_Prices.csv')
CPI_data_2022= pd.read_csv(filename)

print(isinstance(CPI_data_2022, pd.DataFrame))

del CPI_data_2022['Measure']
del CPI_data_2022['TIME']
CPI_data_2022['Value']= CPI_data_2022['Value'].round(decimals=2)

print(CPI_data_2022)

True
     Country    Time  Value
0    Denmark  Jan-22   4.34
1    Denmark  Feb-22   4.80
2    Denmark  Mar-22   5.37
3    Denmark  Apr-22   6.69
4    Denmark  May-22   7.44
..       ...     ...    ...
257    Japan  Jan-22   0.50
258    Japan  Feb-22   0.90
259    Japan  Mar-22   1.20
260    Japan  Apr-22   2.50
261    Japan  May-22   2.50

[262 rows x 3 columns]

In [94]:
CPI_data_May_2022 = CPI_data_2022[CPI_data_2022["Time"]=="May-22"]
CPI_data_May_2022 = CPI_data_May_2022.set_index("Country")

Remove_Country= ['OECD - Europe', 'G7', 'Euro area (19 countries)', 'OECD - Total', 'G20', 'European Union – 27 countries (from 01/02/2020)']
CPI_data_May_2022 = CPI_data_May_2022.drop(Remove_Country)

CPI_data_May_2022 = CPI_data_May_2022.rename(columns={'Time': 'CPI Month Recorded', 'Value': 'CPI %'})
print (CPI_data_May_2022)

                             CPI Month Recorded  CPI %
Country
Denmark                                  May-22   7.44
Greece                                   May-22  11.33
Hungary                                  May-22  10.70
Mexico                                   May-22   7.65
Netherlands                              May-22   8.76
Norway                                   May-22   5.74
Portugal                                 May-22   8.00
Sweden                                   May-22   7.27
Brazil                                   May-22  11.73
Chile                                    May-22  11.55
Colombia                                 May-22   9.07
Estonia                                  May-22  19.98
Latvia                                   May-22  16.86
Lithuania                                May-22  18.90
Argentina                                May-22  60.68
South Africa                             May-22   6.61
Luxembourg                               May-22   6.79
Finland                                  May-22   6.96
Canada                                   May-22   7.73
United States                            May-22   8.58
Indonesia                                May-22   3.55
Germany                                  May-22   7.91
Türkiye                                  May-22  73.50
China (People's Republic of)             May-22   2.10
United Kingdom                           May-22   7.90
Iceland                                  May-22   7.59
Austria                                  May-22   7.74
Poland                                   May-22  13.90
Spain                                    May-22   8.73
Ireland                                  May-22   7.83
Belgium                                  May-22   8.97
Slovak Republic                          May-22  12.56
Slovenia                                 May-22   8.11
Italy                                    May-22   6.82
Czech Republic                           May-22  15.97
Switzerland                              May-22   2.94
Israel                                   May-22   4.15
France                                   May-22   5.20
Saudi Arabia                             May-22   2.24
Korea                                    May-22   5.40
India                                    May-22   6.97
Costa Rica                               May-22   8.71
Japan                                    May-22   2.50

In [220]:
# Joining Cost of Living 2022 Dataset with OECD Consumer Price Index Dataset
CostofLiving2022_IndexChange2 = CostofLiving2022_IndexChange.reset_index()
CostofLiving2022_IndexChange2 = CostofLiving2022_IndexChange2
CostofLiving2022_IndexChange2 = CostofLiving2022_IndexChange2.rename(columns = {'country':'Country'})
CostofLiving2022_IndexChange2 = CostofLiving2022_IndexChange2.set_index('Country')
          
print(CostofLiving2022_IndexChange2)

                        Overall CoLiving Rank  ...  Local Purchasing Power
Country                                        ...
Bermuda                                     1  ...                   78.17
Switzerland                                 2  ...                  114.83
Norway                                      3  ...                   83.40
Iceland                                     4  ...                   74.78
Japan                                       5  ...                   78.88
Denmark                                     6  ...                  101.27
Luxembourg                                  7  ...                   99.86
Bahamas                                     8  ...                   53.12
Israel                                      9  ...                   73.94
Singapore                                  10  ...                   82.61
Barbados                                   11  ...                   49.24
Ireland                                    12  ...                   74.58
Hong Kong                                  13  ...                   67.02
France                                     14  ...                   76.21
South Korea                                15  ...                   81.67
Australia                                  16  ...                  103.38
Netherlands                                17  ...                   86.76
Seychelles                                 18  ...                   19.77
Belgium                                    19  ...                   80.12
Finland                                    20  ...                   93.94
United States                              21  ...                  108.29
Sweden                                     22  ...                   94.04
New Zealand                                23  ...                   87.22
Austria                                    24  ...                   79.38
Puerto Rico                                26  ...                   71.16
Malta                                      27  ...                   44.65
Italy                                      28  ...                   61.80
Qatar                                      29  ...                   99.82
Germany                                    30  ...                   97.41
Canada                                     31  ...                   83.22
Libya                                      32  ...                   38.39
United Kingdom                             33  ...                   86.98
Lebanon                                    34  ...                   35.28
United Arab Emirates                       35  ...                   86.06
Taiwan                                     36  ...                   61.36
Cyprus                                     37  ...                   56.80
Bahrain                                    38  ...                   56.17
Greece                                     39  ...                   40.75
Trinidad and Tobago                        40  ...                   41.39
Croatia                                    41  ...                   43.25
Spain                                      42  ...                   67.73
Slovenia                                   43  ...                   60.61
Panama                                     44  ...                   33.79
Palestine                                  45  ...                   40.94
Ethiopia                                   46  ...                    9.13
Jamaica                                    47  ...                   35.55
Costa Rica                                 48  ...                   36.43
Zimbabwe                                   49  ...                   22.59
Jordan                                     50  ...                   34.70
Belize                                     51  ...                   47.93
Estonia                                    52  ...                   66.08
Mauritius                                  53  ...                   28.79
Kuwait                                     54  ...                   79.31
Fiji                                       55  ...                   31.49
Portugal                                   56  ...                   47.10
Oman                                       57  ...                   87.30
Latvia                                     58  ...                   49.49
Saudi Arabia                               59  ...                   93.84
Thailand                                   60  ...                   33.02
Suriname                                   61  ...                   18.52
Cambodia                                   62  ...                   11.66
Brunei                                     63  ...                   75.32
Slovakia                                   64  ...                   53.39
Uruguay                                    65  ...                   33.77
Chile                                      66  ...                   35.55
Czech Republic                             67  ...                   59.28
El Salvador                                68  ...                   22.56
Lithuania                                  69  ...                   55.57
Guatemala                                  70  ...                   34.35
Cuba                                       71  ...                    2.05
Nicaragua                                  72  ...                   19.67
Honduras                                   73  ...                   30.08
Dominican Republic                         74  ...                   22.69
Ecuador                                    75  ...                   32.70
Hungary                                    76  ...                   46.30
Mozambique                                 77  ...                   15.17
China                                      78  ...                   60.44
Poland                                     79  ...                   52.30
Philippines                                80  ...                   21.38
Botswana                                   81  ...                   66.79
Cameroon                                   82  ...                   16.60
Montenegro                                 83  ...                   37.54
Ghana                                      84  ...                   16.02
Iraq                                       85  ...                   41.54
Somalia                                    86  ...                   28.91
Iran                                       87  ...                   21.88
Myanmar                                    88  ...                   10.33
Bulgaria                                   89  ...                   44.11
Vietnam                                    90  ...                   26.98
Namibia                                    91  ...                   58.12
Malaysia                                   92  ...                   59.12
Kenya                                      93  ...                   28.98
Peru                                       94  ...                   30.66
South Africa                               95  ...                   73.52
Serbia                                     96  ...                   36.04
Albania                                    97  ...                   28.12
Indonesia                                  98  ...                   22.19
Tanzania                                   99  ...                   13.89
Bosnia And Herzegovina                    100  ...                   41.58
Romania                                   101  ...                   46.70
Rwanda                                    102  ...                   20.54
Bolivia                                   103  ...                   39.30
Morocco                                   104  ...                   33.44
Mongolia                                  105  ...                   28.38
Armenia                                   106  ...                   26.09
Russia                                    107  ...                   35.96
Moldova                                   108  ...                   25.39
Bangladesh                                109  ...                   27.59
North Macedonia                           110  ...                   33.30
Sri Lanka                                 111  ...                   21.42
Belarus                                   112  ...                   33.70
Turkey                                    113  ...                   38.04
Argentina                                 114  ...                   43.38
Azerbaijan                                115  ...                   27.19
Brazil                                    117  ...                   30.36
Uganda                                    118  ...                   14.73
Mexico                                    119  ...                   38.17
Paraguay                                  120  ...                   30.93
Ukraine                                   121  ...                   30.90
Nigeria                                   122  ...                   11.10
Georgia                                   123  ...                   24.77
Egypt                                     124  ...                   21.09
Colombia                                  125  ...                   27.92
Algeria                                   126  ...                   26.90
Nepal                                     128  ...                   20.17
Tunisia                                   129  ...                   30.24
Uzbekistan                                130  ...                   22.25
Syria                                     131  ...                    9.48
Afghanistan                               132  ...                   28.19
Kyrgyzstan                                133  ...                   23.56
India                                     134  ...                   50.55
Pakistan                                  135  ...                   28.39

[132 rows x 7 columns]

In [225]:
#Removing unnecessary columns, blank rows, country duplicates

joined_data= pd.concat([CostofLiving2022_IndexChange2, CPI_data_May_2022], axis=1)
joined_data = joined_data.drop(columns=['Overall CoLiving Rank','Rent','CoLiving + Rent', 'Groceries', 'Restaurant Price', 'CPI Month Recorded'])
joined_data = joined_data.rename(columns={'CoLiving': 'Cost of Living 2022', 'CPI %':'CPI % 21-22'})
print(joined_data.sort_index())

                              Cost of Living 2022  Local Purchasing Power  \
Country
Afghanistan                                 26.71                   28.19
Albania                                     36.96                   28.12
Algeria                                     28.88                   26.90
Argentina                                   31.18                   43.38
Armenia                                     33.71                   26.09
Australia                                   75.89                  103.38
Austria                                     71.78                   79.38
Azerbaijan                                  31.14                   27.19
Bahamas                                     84.25                   53.12
Bahrain                                     58.36                   56.17
Bangladesh                                  33.41                   27.59
Barbados                                    79.92                   49.24
Belarus                                     32.63                   33.70
Belgium                                     73.59                   80.12
Belize                                      53.08                   47.93
Bermuda                                    147.77                   78.17
Bolivia                                     36.02                   39.30
Bosnia And Herzegovina                      36.57                   41.58
Botswana                                    39.13                   66.79
Brazil                                      30.99                   30.36
Brunei                                      47.49                   75.32
Bulgaria                                    38.39                   44.11
Cambodia                                    47.91                   11.66
Cameroon                                    38.95                   16.60
Canada                                      66.18                   83.22
Chile                                       45.43                   35.55
China                                       39.51                   60.44
China (People's Republic of)                  NaN                     NaN
Colombia                                    29.02                   27.92
Costa Rica                                  54.20                   36.43
Croatia                                     56.31                   43.25
Cuba                                        43.85                    2.05
Cyprus                                      59.93                   56.80
Czech Republic                              45.05                   59.28
Denmark                                     85.02                  101.27
Dominican Republic                          41.76                   22.69
Ecuador                                     40.62                   32.70
Egypt                                       29.55                   21.09
El Salvador                                 44.96                   22.56
Estonia                                     52.93                   66.08
Ethiopia                                    54.86                    9.13
Fiji                                        49.65                   31.49
Finland                                     72.71                   93.94
France                                      76.34                   76.21
Georgia                                     29.71                   24.77
Germany                                     66.34                   97.41
Ghana                                       38.52                   16.02
Greece                                      57.50                   40.75
Guatemala                                   44.23                   34.35
Honduras                                    42.73                   30.08
Hong Kong                                   77.90                   67.02
Hungary                                     40.09                   46.30
Iceland                                     90.19                   74.78
India                                       24.12                   50.55
Indonesia                                   36.86                   22.19
Iran                                        38.47                   21.88
Iraq                                        38.49                   41.54
Ireland                                     78.07                   74.58
Israel                                      82.52                   73.94
Italy                                       68.95                   61.80
Jamaica                                     54.36                   35.55
Japan                                       86.22                   78.88
Jordan                                      53.40                   34.70
Kenya                                       37.75                   28.98
Korea                                         NaN                     NaN
Kuwait                                      49.86                   79.31
Kyrgyzstan                                  24.70                   23.56
Latvia                                      49.18                   49.49
Lebanon                                     64.26                   35.28
Libya                                       66.06                   38.39
Lithuania                                   44.85                   55.57
Luxembourg                                  84.38                   99.86
Malaysia                                    38.09                   59.12
Malta                                       69.26                   44.65
Mauritius                                   51.75                   28.79
Mexico                                      30.93                   38.17
Moldova                                     33.52                   25.39
Mongolia                                    33.97                   28.38
Montenegro                                  38.68                   37.54
Morocco                                     34.44                   33.44
Mozambique                                  39.98                   15.17
Myanmar                                     38.47                   10.33
Namibia                                     38.12                   58.12
Nepal                                       28.17                   20.17
Netherlands                                 74.63                   86.76
New Zealand                                 71.83                   87.22
Nicaragua                                   43.70                   19.67
Nigeria                                     29.76                   11.10
North Macedonia                             32.96                   33.30
Norway                                      96.80                   83.40
Oman                                        49.42                   87.30
Pakistan                                    21.00                   28.39
Palestine                                   54.96                   40.94
Panama                                      55.02                   33.79
Paraguay                                    30.34                   30.93
Peru                                        37.64                   30.66
Philippines                                 39.25                   21.38
Poland                                      39.46                   52.30
Portugal                                    49.52                   47.10
Puerto Rico                                 70.02                   71.16
Qatar                                       67.54                   99.82
Romania                                     36.23                   46.70
Russia                                      33.66                   35.96
Rwanda                                      36.21                   20.54
Saudi Arabia                                49.15                   93.84
Serbia                                      36.98                   36.04
Seychelles                                  74.41                   19.77
Singapore                                   81.13                   82.61
Slovak Republic                               NaN                     NaN
Slovakia                                    46.80                   53.39
Slovenia                                    55.17                   60.61
Somalia                                     38.48                   28.91
South Africa                                37.52                   73.52
South Korea                                 75.93                   81.67
Spain                                       55.27                   67.73
Sri Lanka                                   32.93                   21.42
Suriname                                    47.95                   18.52
Sweden                                      72.31                   94.04
Switzerland                                125.69                  114.83
Syria                                       27.04                    9.48
Taiwan                                      61.95                   61.36
Tanzania                                    36.85                   13.89
Thailand                                    48.97                   33.02
Trinidad and Tobago                         56.66                   41.39
Tunisia                                     27.93                   30.24
Turkey                                      32.44                   38.04
Türkiye                                       NaN                     NaN
Uganda                                      30.96                   14.73
Ukraine                                     30.05                   30.90
United Arab Emirates                        62.98                   86.06
United Kingdom                              65.67                   86.98
United States                               72.47                  108.29
Uruguay                                     46.66                   33.77
Uzbekistan                                  27.37                   22.25
Vietnam                                     38.12                   26.98
Zimbabwe                                    54.06                   22.59

                              CPI % 21-22
Country
Afghanistan                           NaN
Albania                               NaN
Algeria                               NaN
Argentina                           60.68
Armenia                               NaN
Australia                             NaN
Austria                              7.74
Azerbaijan                            NaN
Bahamas                               NaN
Bahrain                               NaN
Bangladesh                            NaN
Barbados                              NaN
Belarus                               NaN
Belgium                              8.97
Belize                                NaN
Bermuda                               NaN
Bolivia                               NaN
Bosnia And Herzegovina                NaN
Botswana                              NaN
Brazil                              11.73
Brunei                                NaN
Bulgaria                              NaN
Cambodia                              NaN
Cameroon                              NaN
Canada                               7.73
Chile                               11.55
China                                 NaN
China (People's Republic of)         2.10
Colombia                             9.07
Costa Rica                           8.71
Croatia                               NaN
Cuba                                  NaN
Cyprus                                NaN
Czech Republic                      15.97
Denmark                              7.44
Dominican Republic                    NaN
Ecuador                               NaN
Egypt                                 NaN
El Salvador                           NaN
Estonia                             19.98
Ethiopia                              NaN
Fiji                                  NaN
Finland                              6.96
France                               5.20
Georgia                               NaN
Germany                              7.91
Ghana                                 NaN
Greece                              11.33
Guatemala                             NaN
Honduras                              NaN
Hong Kong                             NaN
Hungary                             10.70
Iceland                              7.59
India                                6.97
Indonesia                            3.55
Iran                                  NaN
Iraq                                  NaN
Ireland                              7.83
Israel                               4.15
Italy                                6.82
Jamaica                               NaN
Japan                                2.50
Jordan                                NaN
Kenya                                 NaN
Korea                                5.40
Kuwait                                NaN
Kyrgyzstan                            NaN
Latvia                              16.86
Lebanon                               NaN
Libya                                 NaN
Lithuania                           18.90
Luxembourg                           6.79
Malaysia                              NaN
Malta                                 NaN
Mauritius                             NaN
Mexico                               7.65
Moldova                               NaN
Mongolia                              NaN
Montenegro                            NaN
Morocco                               NaN
Mozambique                            NaN
Myanmar                               NaN
Namibia                               NaN
Nepal                                 NaN
Netherlands                          8.76
New Zealand                           NaN
Nicaragua                             NaN
Nigeria                               NaN
North Macedonia                       NaN
Norway                               5.74
Oman                                  NaN
Pakistan                              NaN
Palestine                             NaN
Panama                                NaN
Paraguay                              NaN
Peru                                  NaN
Philippines                           NaN
Poland                              13.90
Portugal                             8.00
Puerto Rico                           NaN
Qatar                                 NaN
Romania                               NaN
Russia                                NaN
Rwanda                                NaN
Saudi Arabia                         2.24
Serbia                                NaN
Seychelles                            NaN
Singapore                             NaN
Slovak Republic                     12.56
Slovakia                              NaN
Slovenia                             8.11
Somalia                               NaN
South Africa                         6.61
South Korea                           NaN
Spain                                8.73
Sri Lanka                             NaN
Suriname                              NaN
Sweden                               7.27
Switzerland                          2.94
Syria                                 NaN
Taiwan                                NaN
Tanzania                              NaN
Thailand                              NaN
Trinidad and Tobago                   NaN
Tunisia                               NaN
Turkey                                NaN
Türkiye                             73.50
Uganda                                NaN
Ukraine                               NaN
United Arab Emirates                  NaN
United Kingdom                       7.90
United States                        8.58
Uruguay                               NaN
Uzbekistan                            NaN
Vietnam                               NaN
Zimbabwe                              NaN

In [222]:
Country_check= joined_data.drop(columns=['Local Purchasing Power'])
pd.set_option('display.max_rows', None)
print(Country_check.sort_index())

                              Cost of Living 2022  CPI % 21-22
Country
Afghanistan                                 26.71          NaN
Albania                                     36.96          NaN
Algeria                                     28.88          NaN
Argentina                                   31.18        60.68
Armenia                                     33.71          NaN
Australia                                   75.89          NaN
Austria                                     71.78         7.74
Azerbaijan                                  31.14          NaN
Bahamas                                     84.25          NaN
Bahrain                                     58.36          NaN
Bangladesh                                  33.41          NaN
Barbados                                    79.92          NaN
Belarus                                     32.63          NaN
Belgium                                     73.59         8.97
Belize                                      53.08          NaN
Bermuda                                    147.77          NaN
Bolivia                                     36.02          NaN
Bosnia And Herzegovina                      36.57          NaN
Botswana                                    39.13          NaN
Brazil                                      30.99        11.73
Brunei                                      47.49          NaN
Bulgaria                                    38.39          NaN
Cambodia                                    47.91          NaN
Cameroon                                    38.95          NaN
Canada                                      66.18         7.73
Chile                                       45.43        11.55
China                                       39.51          NaN
China (People's Republic of)                  NaN         2.10
Colombia                                    29.02         9.07
Costa Rica                                  54.20         8.71
Croatia                                     56.31          NaN
Cuba                                        43.85          NaN
Cyprus                                      59.93          NaN
Czech Republic                              45.05        15.97
Denmark                                     85.02         7.44
Dominican Republic                          41.76          NaN
Ecuador                                     40.62          NaN
Egypt                                       29.55          NaN
El Salvador                                 44.96          NaN
Estonia                                     52.93        19.98
Ethiopia                                    54.86          NaN
Fiji                                        49.65          NaN
Finland                                     72.71         6.96
France                                      76.34         5.20
Georgia                                     29.71          NaN
Germany                                     66.34         7.91
Ghana                                       38.52          NaN
Greece                                      57.50        11.33
Guatemala                                   44.23          NaN
Honduras                                    42.73          NaN
Hong Kong                                   77.90          NaN
Hungary                                     40.09        10.70
Iceland                                     90.19         7.59
India                                       24.12         6.97
Indonesia                                   36.86         3.55
Iran                                        38.47          NaN
Iraq                                        38.49          NaN
Ireland                                     78.07         7.83
Israel                                      82.52         4.15
Italy                                       68.95         6.82
Jamaica                                     54.36          NaN
Japan                                       86.22         2.50
Jordan                                      53.40          NaN
Kenya                                       37.75          NaN
Korea                                         NaN         5.40
Kuwait                                      49.86          NaN
Kyrgyzstan                                  24.70          NaN
Latvia                                      49.18        16.86
Lebanon                                     64.26          NaN
Libya                                       66.06          NaN
Lithuania                                   44.85        18.90
Luxembourg                                  84.38         6.79
Malaysia                                    38.09          NaN
Malta                                       69.26          NaN
Mauritius                                   51.75          NaN
Mexico                                      30.93         7.65
Moldova                                     33.52          NaN
Mongolia                                    33.97          NaN
Montenegro                                  38.68          NaN
Morocco                                     34.44          NaN
Mozambique                                  39.98          NaN
Myanmar                                     38.47          NaN
Namibia                                     38.12          NaN
Nepal                                       28.17          NaN
Netherlands                                 74.63         8.76
New Zealand                                 71.83          NaN
Nicaragua                                   43.70          NaN
Nigeria                                     29.76          NaN
North Macedonia                             32.96          NaN
Norway                                      96.80         5.74
Oman                                        49.42          NaN
Pakistan                                    21.00          NaN
Palestine                                   54.96          NaN
Panama                                      55.02          NaN
Paraguay                                    30.34          NaN
Peru                                        37.64          NaN
Philippines                                 39.25          NaN
Poland                                      39.46        13.90
Portugal                                    49.52         8.00
Puerto Rico                                 70.02          NaN
Qatar                                       67.54          NaN
Romania                                     36.23          NaN
Russia                                      33.66          NaN
Rwanda                                      36.21          NaN
Saudi Arabia                                49.15         2.24
Serbia                                      36.98          NaN
Seychelles                                  74.41          NaN
Singapore                                   81.13          NaN
Slovak Republic                               NaN        12.56
Slovakia                                    46.80          NaN
Slovenia                                    55.17         8.11
Somalia                                     38.48          NaN
South Africa                                37.52         6.61
South Korea                                 75.93          NaN
Spain                                       55.27         8.73
Sri Lanka                                   32.93          NaN
Suriname                                    47.95          NaN
Sweden                                      72.31         7.27
Switzerland                                125.69         2.94
Syria                                       27.04          NaN
Taiwan                                      61.95          NaN
Tanzania                                    36.85          NaN
Thailand                                    48.97          NaN
Trinidad and Tobago                         56.66          NaN
Tunisia                                     27.93          NaN
Turkey                                      32.44          NaN
Türkiye                                       NaN        73.50
Uganda                                      30.96          NaN
Ukraine                                     30.05          NaN
United Arab Emirates                        62.98          NaN
United Kingdom                              65.67         7.90
United States                               72.47         8.58
Uruguay                                     46.66          NaN
Uzbekistan                                  27.37          NaN
Vietnam                                     38.12          NaN
Zimbabwe                                    54.06          NaN

In [277]:
print(joined_data.index.get_loc('China'))
print(joined_data.index.get_loc('Slovakia'))
print(joined_data.index.get_loc('Turkey'))
print(joined_data.index.get_loc(76))

76
62
111
136

In [248]:
print(joined_data.iloc[76])
print(joined_data.iloc[62])
print(joined_data.iloc[111])

Cost of Living 2022       39.51
Local Purchasing Power    60.44
CPI % 21-22                 NaN
Name: China, dtype: float64
Cost of Living 2022       46.80
Local Purchasing Power    53.39
CPI % 21-22                 NaN
Name: Slovakia, dtype: float64
Cost of Living 2022       32.44
Local Purchasing Power    38.04
CPI % 21-22                 NaN
Name: Turkey, dtype: float64

In [257]:
joined_data.iloc[76] = [39.51,60.44,2.10]
joined_data.iloc[62]= [46.80,53.39,12.56]
joined_data.iloc[111]= [32.44,38.04,73.50]

In [278]:
Updated_joined = joined_data.drop(joined_data.index[136], inplace=True)

In [281]:
print(joined_data)

                              Cost of Living 2022  Local Purchasing Power  \
Country
Bermuda                                    147.77                   78.17
Switzerland                                125.69                  114.83
Norway                                      96.80                   83.40
Iceland                                     90.19                   74.78
Japan                                       86.22                   78.88
Denmark                                     85.02                  101.27
Luxembourg                                  84.38                   99.86
Bahamas                                     84.25                   53.12
Israel                                      82.52                   73.94
Singapore                                   81.13                   82.61
Barbados                                    79.92                   49.24
Ireland                                     78.07                   74.58
Hong Kong                                   77.90                   67.02
France                                      76.34                   76.21
South Korea                                 75.93                   81.67
Australia                                   75.89                  103.38
Netherlands                                 74.63                   86.76
Seychelles                                  74.41                   19.77
Belgium                                     73.59                   80.12
Finland                                     72.71                   93.94
United States                               72.47                  108.29
Sweden                                      72.31                   94.04
New Zealand                                 71.83                   87.22
Austria                                     71.78                   79.38
Puerto Rico                                 70.02                   71.16
Malta                                       69.26                   44.65
Italy                                       68.95                   61.80
Qatar                                       67.54                   99.82
Germany                                     66.34                   97.41
Canada                                      66.18                   83.22
Libya                                       66.06                   38.39
United Kingdom                              65.67                   86.98
Lebanon                                     64.26                   35.28
United Arab Emirates                        62.98                   86.06
Taiwan                                      61.95                   61.36
Cyprus                                      59.93                   56.80
Bahrain                                     58.36                   56.17
Greece                                      57.50                   40.75
Trinidad and Tobago                         56.66                   41.39
Croatia                                     56.31                   43.25
Spain                                       55.27                   67.73
Slovenia                                    55.17                   60.61
Panama                                      55.02                   33.79
Palestine                                   54.96                   40.94
Ethiopia                                    54.86                    9.13
Jamaica                                     54.36                   35.55
Costa Rica                                  54.20                   36.43
Zimbabwe                                    54.06                   22.59
Jordan                                      53.40                   34.70
Belize                                      53.08                   47.93
Estonia                                     52.93                   66.08
Mauritius                                   51.75                   28.79
Kuwait                                      49.86                   79.31
Fiji                                        49.65                   31.49
Portugal                                    49.52                   47.10
Oman                                        49.42                   87.30
Latvia                                      49.18                   49.49
Saudi Arabia                                49.15                   93.84
Thailand                                    48.97                   33.02
Suriname                                    47.95                   18.52
Cambodia                                    47.91                   11.66
Brunei                                      47.49                   75.32
Slovakia                                    46.80                   53.39
Uruguay                                     46.66                   33.77
Chile                                       45.43                   35.55
Czech Republic                              45.05                   59.28
El Salvador                                 44.96                   22.56
Lithuania                                   44.85                   55.57
Guatemala                                   44.23                   34.35
Cuba                                        43.85                    2.05
Nicaragua                                   43.70                   19.67
Honduras                                    42.73                   30.08
Dominican Republic                          41.76                   22.69
Ecuador                                     40.62                   32.70
Hungary                                     40.09                   46.30
Mozambique                                  39.98                   15.17
China                                       39.51                   60.44
Poland                                      39.46                   52.30
Philippines                                 39.25                   21.38
Botswana                                    39.13                   66.79
Cameroon                                    38.95                   16.60
Montenegro                                  38.68                   37.54
Ghana                                       38.52                   16.02
Iraq                                        38.49                   41.54
Somalia                                     38.48                   28.91
Iran                                        38.47                   21.88
Myanmar                                     38.47                   10.33
Bulgaria                                    38.39                   44.11
Vietnam                                     38.12                   26.98
Namibia                                     38.12                   58.12
Malaysia                                    38.09                   59.12
Kenya                                       37.75                   28.98
Peru                                        37.64                   30.66
South Africa                                37.52                   73.52
Serbia                                      36.98                   36.04
Albania                                     36.96                   28.12
Indonesia                                   36.86                   22.19
Tanzania                                    36.85                   13.89
Bosnia And Herzegovina                      36.57                   41.58
Romania                                     36.23                   46.70
Rwanda                                      36.21                   20.54
Bolivia                                     36.02                   39.30
Morocco                                     34.44                   33.44
Mongolia                                    33.97                   28.38
Armenia                                     33.71                   26.09
Russia                                      33.66                   35.96
Moldova                                     33.52                   25.39
Bangladesh                                  33.41                   27.59
North Macedonia                             32.96                   33.30
Sri Lanka                                   32.93                   21.42
Belarus                                     32.63                   33.70
Turkey                                      32.44                   38.04
Argentina                                   31.18                   43.38
Azerbaijan                                  31.14                   27.19
Brazil                                      30.99                   30.36
Uganda                                      30.96                   14.73
Mexico                                      30.93                   38.17
Paraguay                                    30.34                   30.93
Ukraine                                     30.05                   30.90
Nigeria                                     29.76                   11.10
Georgia                                     29.71                   24.77
Egypt                                       29.55                   21.09
Colombia                                    29.02                   27.92
Algeria                                     28.88                   26.90
Nepal                                       28.17                   20.17
Tunisia                                     27.93                   30.24
Uzbekistan                                  27.37                   22.25
Syria                                       27.04                    9.48
Afghanistan                                 26.71                   28.19
Kyrgyzstan                                  24.70                   23.56
India                                       24.12                   50.55
Pakistan                                    21.00                   28.39
Türkiye                                       NaN                     NaN
China (People's Republic of)                  NaN                     NaN
Slovak Republic                               NaN                     NaN
Korea                                         NaN                     NaN

                              CPI % 21-22
Country
Bermuda                               NaN
Switzerland                          2.94
Norway                               5.74
Iceland                              7.59
Japan                                2.50
Denmark                              7.44
Luxembourg                           6.79
Bahamas                               NaN
Israel                               4.15
Singapore                             NaN
Barbados                              NaN
Ireland                              7.83
Hong Kong                             NaN
France                               5.20
South Korea                           NaN
Australia                             NaN
Netherlands                          8.76
Seychelles                            NaN
Belgium                              8.97
Finland                              6.96
United States                        8.58
Sweden                               7.27
New Zealand                           NaN
Austria                              7.74
Puerto Rico                           NaN
Malta                                 NaN
Italy                                6.82
Qatar                                 NaN
Germany                              7.91
Canada                               7.73
Libya                                 NaN
United Kingdom                       7.90
Lebanon                               NaN
United Arab Emirates                  NaN
Taiwan                                NaN
Cyprus                                NaN
Bahrain                               NaN
Greece                              11.33
Trinidad and Tobago                   NaN
Croatia                               NaN
Spain                                8.73
Slovenia                             8.11
Panama                                NaN
Palestine                             NaN
Ethiopia                              NaN
Jamaica                               NaN
Costa Rica                           8.71
Zimbabwe                              NaN
Jordan                                NaN
Belize                                NaN
Estonia                             19.98
Mauritius                             NaN
Kuwait                                NaN
Fiji                                  NaN
Portugal                             8.00
Oman                                  NaN
Latvia                              16.86
Saudi Arabia                         2.24
Thailand                              NaN
Suriname                              NaN
Cambodia                              NaN
Brunei                                NaN
Slovakia                            12.56
Uruguay                               NaN
Chile                               11.55
Czech Republic                      15.97
El Salvador                           NaN
Lithuania                           18.90
Guatemala                             NaN
Cuba                                  NaN
Nicaragua                             NaN
Honduras                              NaN
Dominican Republic                    NaN
Ecuador                               NaN
Hungary                             10.70
Mozambique                            NaN
China                                2.10
Poland                              13.90
Philippines                           NaN
Botswana                              NaN
Cameroon                              NaN
Montenegro                            NaN
Ghana                                 NaN
Iraq                                  NaN
Somalia                               NaN
Iran                                  NaN
Myanmar                               NaN
Bulgaria                              NaN
Vietnam                               NaN
Namibia                               NaN
Malaysia                              NaN
Kenya                                 NaN
Peru                                  NaN
South Africa                         6.61
Serbia                                NaN
Albania                               NaN
Indonesia                            3.55
Tanzania                              NaN
Bosnia And Herzegovina                NaN
Romania                               NaN
Rwanda                                NaN
Bolivia                               NaN
Morocco                               NaN
Mongolia                              NaN
Armenia                               NaN
Russia                                NaN
Moldova                               NaN
Bangladesh                            NaN
North Macedonia                       NaN
Sri Lanka                             NaN
Belarus                               NaN
Turkey                              73.50
Argentina                           60.68
Azerbaijan                            NaN
Brazil                              11.73
Uganda                                NaN
Mexico                               7.65
Paraguay                              NaN
Ukraine                               NaN
Nigeria                               NaN
Georgia                               NaN
Egypt                                 NaN
Colombia                             9.07
Algeria                               NaN
Nepal                                 NaN
Tunisia                               NaN
Uzbekistan                            NaN
Syria                                 NaN
Afghanistan                           NaN
Kyrgyzstan                            NaN
India                                6.97
Pakistan                              NaN
Türkiye                             73.50
China (People's Republic of)         2.10
Slovak Republic                     12.56
Korea                                5.40

In [282]:
joined_data.dropna(axis=0)

                Cost of Living 2022  Local Purchasing Power  CPI % 21-22
Country
Switzerland                  125.69                  114.83         2.94
Norway                        96.80                   83.40         5.74
Iceland                       90.19                   74.78         7.59
Japan                         86.22                   78.88         2.50
Denmark                       85.02                  101.27         7.44
Luxembourg                    84.38                   99.86         6.79
Israel                        82.52                   73.94         4.15
Ireland                       78.07                   74.58         7.83
France                        76.34                   76.21         5.20
Netherlands                   74.63                   86.76         8.76
Belgium                       73.59                   80.12         8.97
Finland                       72.71                   93.94         6.96
United States                 72.47                  108.29         8.58
Sweden                        72.31                   94.04         7.27
Austria                       71.78                   79.38         7.74
Italy                         68.95                   61.80         6.82
Germany                       66.34                   97.41         7.91
Canada                        66.18                   83.22         7.73
United Kingdom                65.67                   86.98         7.90
Greece                        57.50                   40.75        11.33
Spain                         55.27                   67.73         8.73
Slovenia                      55.17                   60.61         8.11
Costa Rica                    54.20                   36.43         8.71
Estonia                       52.93                   66.08        19.98
Portugal                      49.52                   47.10         8.00
Latvia                        49.18                   49.49        16.86
Saudi Arabia                  49.15                   93.84         2.24
Slovakia                      46.80                   53.39        12.56
Chile                         45.43                   35.55        11.55
Czech Republic                45.05                   59.28        15.97
Lithuania                     44.85                   55.57        18.90
Hungary                       40.09                   46.30        10.70
China                         39.51                   60.44         2.10
Poland                        39.46                   52.30        13.90
South Africa                  37.52                   73.52         6.61
Indonesia                     36.86                   22.19         3.55
Turkey                        32.44                   38.04        73.50
Argentina                     31.18                   43.38        60.68
Brazil                        30.99                   30.36        11.73
Mexico                        30.93                   38.17         7.65
Colombia                      29.02                   27.92         9.07
India                         24.12                   50.55         6.97

In [283]:
print(joined_data.sort_index())

                              Cost of Living 2022  Local Purchasing Power  \
Country
Afghanistan                                 26.71                   28.19
Albania                                     36.96                   28.12
Algeria                                     28.88                   26.90
Argentina                                   31.18                   43.38
Armenia                                     33.71                   26.09
Australia                                   75.89                  103.38
Austria                                     71.78                   79.38
Azerbaijan                                  31.14                   27.19
Bahamas                                     84.25                   53.12
Bahrain                                     58.36                   56.17
Bangladesh                                  33.41                   27.59
Barbados                                    79.92                   49.24
Belarus                                     32.63                   33.70
Belgium                                     73.59                   80.12
Belize                                      53.08                   47.93
Bermuda                                    147.77                   78.17
Bolivia                                     36.02                   39.30
Bosnia And Herzegovina                      36.57                   41.58
Botswana                                    39.13                   66.79
Brazil                                      30.99                   30.36
Brunei                                      47.49                   75.32
Bulgaria                                    38.39                   44.11
Cambodia                                    47.91                   11.66
Cameroon                                    38.95                   16.60
Canada                                      66.18                   83.22
Chile                                       45.43                   35.55
China                                       39.51                   60.44
China (People's Republic of)                  NaN                     NaN
Colombia                                    29.02                   27.92
Costa Rica                                  54.20                   36.43
Croatia                                     56.31                   43.25
Cuba                                        43.85                    2.05
Cyprus                                      59.93                   56.80
Czech Republic                              45.05                   59.28
Denmark                                     85.02                  101.27
Dominican Republic                          41.76                   22.69
Ecuador                                     40.62                   32.70
Egypt                                       29.55                   21.09
El Salvador                                 44.96                   22.56
Estonia                                     52.93                   66.08
Ethiopia                                    54.86                    9.13
Fiji                                        49.65                   31.49
Finland                                     72.71                   93.94
France                                      76.34                   76.21
Georgia                                     29.71                   24.77
Germany                                     66.34                   97.41
Ghana                                       38.52                   16.02
Greece                                      57.50                   40.75
Guatemala                                   44.23                   34.35
Honduras                                    42.73                   30.08
Hong Kong                                   77.90                   67.02
Hungary                                     40.09                   46.30
Iceland                                     90.19                   74.78
India                                       24.12                   50.55
Indonesia                                   36.86                   22.19
Iran                                        38.47                   21.88
Iraq                                        38.49                   41.54
Ireland                                     78.07                   74.58
Israel                                      82.52                   73.94
Italy                                       68.95                   61.80
Jamaica                                     54.36                   35.55
Japan                                       86.22                   78.88
Jordan                                      53.40                   34.70
Kenya                                       37.75                   28.98
Korea                                         NaN                     NaN
Kuwait                                      49.86                   79.31
Kyrgyzstan                                  24.70                   23.56
Latvia                                      49.18                   49.49
Lebanon                                     64.26                   35.28
Libya                                       66.06                   38.39
Lithuania                                   44.85                   55.57
Luxembourg                                  84.38                   99.86
Malaysia                                    38.09                   59.12
Malta                                       69.26                   44.65
Mauritius                                   51.75                   28.79
Mexico                                      30.93                   38.17
Moldova                                     33.52                   25.39
Mongolia                                    33.97                   28.38
Montenegro                                  38.68                   37.54
Morocco                                     34.44                   33.44
Mozambique                                  39.98                   15.17
Myanmar                                     38.47                   10.33
Namibia                                     38.12                   58.12
Nepal                                       28.17                   20.17
Netherlands                                 74.63                   86.76
New Zealand                                 71.83                   87.22
Nicaragua                                   43.70                   19.67
Nigeria                                     29.76                   11.10
North Macedonia                             32.96                   33.30
Norway                                      96.80                   83.40
Oman                                        49.42                   87.30
Pakistan                                    21.00                   28.39
Palestine                                   54.96                   40.94
Panama                                      55.02                   33.79
Paraguay                                    30.34                   30.93
Peru                                        37.64                   30.66
Philippines                                 39.25                   21.38
Poland                                      39.46                   52.30
Portugal                                    49.52                   47.10
Puerto Rico                                 70.02                   71.16
Qatar                                       67.54                   99.82
Romania                                     36.23                   46.70
Russia                                      33.66                   35.96
Rwanda                                      36.21                   20.54
Saudi Arabia                                49.15                   93.84
Serbia                                      36.98                   36.04
Seychelles                                  74.41                   19.77
Singapore                                   81.13                   82.61
Slovak Republic                               NaN                     NaN
Slovakia                                    46.80                   53.39
Slovenia                                    55.17                   60.61
Somalia                                     38.48                   28.91
South Africa                                37.52                   73.52
South Korea                                 75.93                   81.67
Spain                                       55.27                   67.73
Sri Lanka                                   32.93                   21.42
Suriname                                    47.95                   18.52
Sweden                                      72.31                   94.04
Switzerland                                125.69                  114.83
Syria                                       27.04                    9.48
Taiwan                                      61.95                   61.36
Tanzania                                    36.85                   13.89
Thailand                                    48.97                   33.02
Trinidad and Tobago                         56.66                   41.39
Tunisia                                     27.93                   30.24
Turkey                                      32.44                   38.04
Türkiye                                       NaN                     NaN
Uganda                                      30.96                   14.73
Ukraine                                     30.05                   30.90
United Arab Emirates                        62.98                   86.06
United Kingdom                              65.67                   86.98
United States                               72.47                  108.29
Uruguay                                     46.66                   33.77
Uzbekistan                                  27.37                   22.25
Vietnam                                     38.12                   26.98
Zimbabwe                                    54.06                   22.59

                              CPI % 21-22
Country
Afghanistan                           NaN
Albania                               NaN
Algeria                               NaN
Argentina                           60.68
Armenia                               NaN
Australia                             NaN
Austria                              7.74
Azerbaijan                            NaN
Bahamas                               NaN
Bahrain                               NaN
Bangladesh                            NaN
Barbados                              NaN
Belarus                               NaN
Belgium                              8.97
Belize                                NaN
Bermuda                               NaN
Bolivia                               NaN
Bosnia And Herzegovina                NaN
Botswana                              NaN
Brazil                              11.73
Brunei                                NaN
Bulgaria                              NaN
Cambodia                              NaN
Cameroon                              NaN
Canada                               7.73
Chile                               11.55
China                                2.10
China (People's Republic of)         2.10
Colombia                             9.07
Costa Rica                           8.71
Croatia                               NaN
Cuba                                  NaN
Cyprus                                NaN
Czech Republic                      15.97
Denmark                              7.44
Dominican Republic                    NaN
Ecuador                               NaN
Egypt                                 NaN
El Salvador                           NaN
Estonia                             19.98
Ethiopia                              NaN
Fiji                                  NaN
Finland                              6.96
France                               5.20
Georgia                               NaN
Germany                              7.91
Ghana                                 NaN
Greece                              11.33
Guatemala                             NaN
Honduras                              NaN
Hong Kong                             NaN
Hungary                             10.70
Iceland                              7.59
India                                6.97
Indonesia                            3.55
Iran                                  NaN
Iraq                                  NaN
Ireland                              7.83
Israel                               4.15
Italy                                6.82
Jamaica                               NaN
Japan                                2.50
Jordan                                NaN
Kenya                                 NaN
Korea                                5.40
Kuwait                                NaN
Kyrgyzstan                            NaN
Latvia                              16.86
Lebanon                               NaN
Libya                                 NaN
Lithuania                           18.90
Luxembourg                           6.79
Malaysia                              NaN
Malta                                 NaN
Mauritius                             NaN
Mexico                               7.65
Moldova                               NaN
Mongolia                              NaN
Montenegro                            NaN
Morocco                               NaN
Mozambique                            NaN
Myanmar                               NaN
Namibia                               NaN
Nepal                                 NaN
Netherlands                          8.76
New Zealand                           NaN
Nicaragua                             NaN
Nigeria                               NaN
North Macedonia                       NaN
Norway                               5.74
Oman                                  NaN
Pakistan                              NaN
Palestine                             NaN
Panama                                NaN
Paraguay                              NaN
Peru                                  NaN
Philippines                           NaN
Poland                              13.90
Portugal                             8.00
Puerto Rico                           NaN
Qatar                                 NaN
Romania                               NaN
Russia                                NaN
Rwanda                                NaN
Saudi Arabia                         2.24
Serbia                                NaN
Seychelles                            NaN
Singapore                             NaN
Slovak Republic                     12.56
Slovakia                            12.56
Slovenia                             8.11
Somalia                               NaN
South Africa                         6.61
South Korea                           NaN
Spain                                8.73
Sri Lanka                             NaN
Suriname                              NaN
Sweden                               7.27
Switzerland                          2.94
Syria                                 NaN
Taiwan                                NaN
Tanzania                              NaN
Thailand                              NaN
Trinidad and Tobago                   NaN
Tunisia                               NaN
Turkey                              73.50
Türkiye                             73.50
Uganda                                NaN
Ukraine                               NaN
United Arab Emirates                  NaN
United Kingdom                       7.90
United States                        8.58
Uruguay                               NaN
Uzbekistan                            NaN
Vietnam                               NaN
Zimbabwe                              NaN