In [7]:
import pandas as pd
CostofLiving2022= pd.read_csv(r'C:\Users\linds\OneDrive\Documents\UCDPAData\World_Population_Review_2022.csv')

In [8]:
CostofLiving2022.head()

,ranking,country,costLivingIndex,rentIndex,costLivingPlusRentIndex,groceriesIndex,restaurantPriceIndex,localPurchasingPowerIndex
0,1,Bermuda,147.77,85.70,117.54,146.63,152.52,78.17
1,2,Switzerland,125.69,51.20,89.41,124.93,118.55,114.83
2,3,Norway,96.80,32.61,65.54,89.55,96.81,83.40
3,4,Iceland,90.19,38.54,65.04,80.91,97.17,74.78
4,5,Japan,86.22,26.18,56.98,86.84,48.07,78.88

In [9]:
CostofLiving2022.shape

(132, 8)

In [10]:
df = pd.DataFrame(CostofLiving2022)
print (df)

     ranking      country  costLivingIndex  rentIndex  \
0          1      Bermuda           147.77      85.70
1          2  Switzerland           125.69      51.20
2          3       Norway            96.80      32.61
3          4      Iceland            90.19      38.54
4          5        Japan            86.22      26.18
..       ...          ...              ...        ...
127      131        Syria            27.04       5.77
128      132  Afghanistan            26.71       3.99
129      133   Kyrgyzstan            24.70       7.78
130      134        India            24.12       5.50
131      135     Pakistan            21.00       4.28

     costLivingPlusRentIndex  groceriesIndex  restaurantPriceIndex  \
0                     117.54          146.63                152.52
1                      89.41          124.93                118.55
2                      65.54           89.55                 96.81
3                      65.04           80.91                 97.17
4                      56.98           86.84                 48.07
..                       ...             ...                   ...
127                    16.68           24.42                 23.21
128                    15.65           18.99                 18.48
129                    16.46           21.76                 20.96
130                    15.05           24.57                 16.38
131                    12.86           18.21                 16.25

     localPurchasingPowerIndex
0                        78.17
1                       114.83
2                        83.40
3                        74.78
4                        78.88
..                         ...
127                       9.48
128                      28.19
129                      23.56
130                      50.55
131                      28.39

[132 rows x 8 columns]

In [11]:
CostofLiving2022_IndexChange = CostofLiving2022.set_index("country")

In [13]:
print(CostofLiving2022_IndexChange)

             ranking  costLivingIndex  rentIndex  costLivingPlusRentIndex  \
country
Bermuda            1           147.77      85.70                   117.54
Switzerland        2           125.69      51.20                    89.41
Norway             3            96.80      32.61                    65.54
Iceland            4            90.19      38.54                    65.04
Japan              5            86.22      26.18                    56.98
...              ...              ...        ...                      ...
Syria            131            27.04       5.77                    16.68
Afghanistan      132            26.71       3.99                    15.65
Kyrgyzstan       133            24.70       7.78                    16.46
India            134            24.12       5.50                    15.05
Pakistan         135            21.00       4.28                    12.86

             groceriesIndex  restaurantPriceIndex  localPurchasingPowerIndex
country
Bermuda              146.63                152.52                      78.17
Switzerland          124.93                118.55                     114.83
Norway                89.55                 96.81                      83.40
Iceland               80.91                 97.17                      74.78
Japan                 86.84                 48.07                      78.88
...                     ...                   ...                        ...
Syria                 24.42                 23.21                       9.48
Afghanistan           18.99                 18.48                      28.19
Kyrgyzstan            21.76                 20.96                      23.56
India                 24.57                 16.38                      50.55
Pakistan              18.21                 16.25                      28.39

[132 rows x 7 columns]

In [14]:
CostofLiving2022_IndexChange.columns = ['Overall CoLiving Rank', 'CoLiving', 'Rent', 'CoLiving + Rent', 'Groceries', 'Restaurant Price', 'Local Purchasing Power']

In [15]:
print(CostofLiving2022_IndexChange.head())

             Overall CoLiving Rank  CoLiving   Rent  CoLiving + Rent  \
country
Bermuda                          1    147.77  85.70           117.54
Switzerland                      2    125.69  51.20            89.41
Norway                           3     96.80  32.61            65.54
Iceland                          4     90.19  38.54            65.04
Japan                            5     86.22  26.18            56.98

             Groceries  Restaurant Price  Local Purchasing Power
country
Bermuda         146.63            152.52                   78.17
Switzerland     124.93            118.55                  114.83
Norway           89.55             96.81                   83.40
Iceland          80.91             97.17                   74.78
Japan            86.84             48.07                   78.88

In [17]:
CostofLiving2022_IndexChange["CoLiving"].max()

147.77

In [18]:
CostofLiving2022_IndexChange["CoLiving"].min()

21.0

In [19]:
CostofLiving2022_IndexChange["CoLiving"].median()

45.004999999999995

In [20]:
def maximum (column):
    return column.max()

CostofLiving2022_IndexChange[["CoLiving", "Rent", "CoLiving + Rent", "Groceries", "Restaurant Price", "Local Purchasing Power"]].agg(maximum)

CoLiving                  147.77
Rent                       85.70
CoLiving + Rent           117.54
Groceries                 146.63
Restaurant Price          152.52
Local Purchasing Power    114.83
dtype: float64

In [21]:
print(CostofLiving2022_IndexChange.loc[["Bermuda"]])

         Overall CoLiving Rank  CoLiving  Rent  CoLiving + Rent  Groceries  \
country
Bermuda                      1    147.77  85.7           117.54     146.63

         Restaurant Price  Local Purchasing Power
country
Bermuda            152.52                   78.17

In [22]:
# Bermuda is the country with the highest Cost of Living in 2022. It scores highest across all data points except for 'Local Purchasing Power.' This implies that it is expensive to live in Bermuda and individuals have less money to spend or the money they have will enable them to buy less than in other countries. Line 20 shows the maximum values across all columns while line 21 shows the values of Bermuda.

In [23]:
CostofLiving2022_IndexChange["Local Purchasing Power"].min()

2.05

In [24]:
CostofLiving2022_IndexChange["Local Purchasing Power"].max()

114.83

In [28]:
CostofLiving2022_IndexChange[(CostofLiving2022_IndexChange["Local Purchasing Power"]==114.83)]

,Overall CoLiving Rank,CoLiving,Rent,CoLiving + Rent,Groceries,Restaurant Price,Local Purchasing Power
country,,,,,,,
Switzerland,2,125.69,51.2,89.41,124.93,118.55,114.83

In [29]:
CostofLiving2022_IndexChange[(CostofLiving2022_IndexChange["Local Purchasing Power"]==2.05)]

,Overall CoLiving Rank,CoLiving,Rent,CoLiving + Rent,Groceries,Restaurant Price,Local Purchasing Power
country,,,,,,,
Cuba,71,43.85,4.3,23.59,38.63,32.13,2.05

In [30]:
# Switzerland is the country with the most 'Local Purchasing Power' in 2022 at 114.83 while Cuba is the country with the least purchasing power in 2022 at 2.05.

In [31]:
CostofLiving2022_IndexChange.sort_values("Local Purchasing Power", ascending=False)

,Overall CoLiving Rank,CoLiving,Rent,CoLiving + Rent,Groceries,Restaurant Price,Local Purchasing Power
country,,,,,,,
Switzerland,2,125.69,51.20,89.41,124.93,118.55,114.83
United States,21,72.47,40.07,56.69,69.68,68.29,108.29
Australia,16,75.89,34.18,55.58,70.62,68.88,103.38
Denmark,6,85.02,33.10,59.74,65.86,95.71,101.27
Luxembourg,7,84.38,55.11,70.13,74.03,86.29,99.86
...,...,...,...,...,...,...,...
Nigeria,122,29.76,27.24,28.53,30.39,17.66,11.10
Myanmar,88,38.47,26.72,32.75,39.35,20.68,10.33
Syria,131,27.04,5.77,16.68,24.42,23.21,9.48
Ethiopia,46,54.86,15.43,35.66,38.08,20.18,9.13
Cuba,71,43.85,4.30,23.59,38.63,32.13,2.05

In [32]:
# The countries that are in Europe, America and Australia have the mose Local Purchasing Power while African countries have lower Local Purchasing Power

In [35]:
CostofLiving2022_IndexChange.sort_values("CoLiving", ascending=False)

,Overall CoLiving Rank,CoLiving,Rent,CoLiving + Rent,Groceries,Restaurant Price,Local Purchasing Power
country,,,,,,,
Bermuda,1,147.77,85.70,117.54,146.63,152.52,78.17
Switzerland,2,125.69,51.20,89.41,124.93,118.55,114.83
Norway,3,96.80,32.61,65.54,89.55,96.81,83.40
Iceland,4,90.19,38.54,65.04,80.91,97.17,74.78
Japan,5,86.22,26.18,56.98,86.84,48.07,78.88
...,...,...,...,...,...,...,...
Syria,131,27.04,5.77,16.68,24.42,23.21,9.48
Afghanistan,132,26.71,3.99,15.65,18.99,18.48,28.19
Kyrgyzstan,133,24.70,7.78,16.46,21.76,20.96,23.56
India,134,24.12,5.50,15.05,24.57,16.38,50.55
Pakistan,135,21.00,4.28,12.86,18.21,16.25,28.39

In [36]:
# In 2022 countries from Europe, America and Asia have the highest cost of living while countries in the Middle East and India appear to have the lowest cost of living

In [37]:
# The cost of living, rent, groceries and restaurant prices appear to stay broadly in alignment while local purchasing power differs

In [57]:
# Web scrape of a table on Income Inequality
from bs4 import BeautifulSoup
import pandas as pd
import requests
import json

url = requests.get('https://worldpopulationreview.com/country-rankings/income-inequality-by-country')
content = BeautifulSoup(url.content, 'lxml')
table = content.find("table")
table_read = pd.read_html(str(table))[0]
Table1 = pd.DataFrame(table_read)
isinstance(Table1, pd.DataFrame)

print(Table1)

           Country Average Income (PPP €)
           Country             Bottom 50% Top 10%   Top 1%
0    United States                  14500  246800  1018700
1           Israel                  11200  211900   713500
2            Chile                   4500  130200   585100
3           Canada                  11900  156000   566900
4           Turkey                   6500  149400   516700
5        Australia                  12900  134200   513300
6          Germany                  15200  148000   509800
7      South Korea                  10600  153200   485200
8           Russia                   7700  104600   483200
9           Sweden                  21500  139200   476900
10          Mexico                   3200   99400   452900
11  United Kingdom                  13300  116700   413900
12           Japan                  10200  137000   400000
13          Poland                  10400  100400   395800
14           Spain                  12900  105500   378800
15          Brazil                   2800   81900   372000
16          France                  16500  116900   357000
17       Argentina                   5600   73500   300800
18    South Africa                   1300   82500   272000
19           Italy                  12100   93900   253700
20           China                   5100   73400   246600
21       Indonesia                   2900   56100   213400
22           India                   2000   42500   161600
23         Morocco                   2100   38700   118500
24         Algeria                   4424   44287   115253
25         Nigeria                   2400   32700    88600

In [87]:
# Web scrape of table 2. The lower the Gini cooefficient the lower income inequality of the country. Gini Coefficient WB is the World Bank data.
url = requests.get('https://worldpopulationreview.com/country-rankings/income-inequality-by-country')
content = BeautifulSoup(url.content, 'lxml')
table = content.find("table",{"class":"jsx-2006211681 table is-striped is-hoverable is-fullwidth tp-table-body is-narrow"})
Table2 = pd.read_html(str(table))[0]
Table2 = pd.DataFrame(Table2)

Table2.columns= ['Country','Gini Coefficient WB', 'Gini Coefficient 2']
del Table2 ['Gini Coefficient 2']
print (Table2)

              Country Gini Coefficient WB
0               China         38.2 (2019)
1               India         35.7 (2011)
2       United States         41.5 (2019)
3           Indonesia         37.3 (2021)
4            Pakistan         29.6 (2018)
..                ...                 ...
172         Greenland                 NaN
173     Faroe Islands                 NaN
174            Tuvalu         39.1 (2010)
175             Nauru         34.8 (2012)
176  Falkland Islands                 NaN

[177 rows x 2 columns]

In [88]:
Table2['Gini Coefficient WB'].str.split(pat = ' ', expand = True)
Table2[['Gini Coefficient', 'Year Recorded']] = Table2['Gini Coefficient WB'].str.split(pat = ' ', expand = True)
print(Table2)

              Country Gini Coefficient WB Gini Coefficient Year Recorded
0               China         38.2 (2019)             38.2        (2019)
1               India         35.7 (2011)             35.7        (2011)
2       United States         41.5 (2019)             41.5        (2019)
3           Indonesia         37.3 (2021)             37.3        (2021)
4            Pakistan         29.6 (2018)             29.6        (2018)
..                ...                 ...              ...           ...
172         Greenland                 NaN              NaN           NaN
173     Faroe Islands                 NaN              NaN           NaN
174            Tuvalu         39.1 (2010)             39.1        (2010)
175             Nauru         34.8 (2012)             34.8        (2012)
176  Falkland Islands                 NaN              NaN           NaN

[177 rows x 4 columns]

In [89]:
Table2['Year Recorded'] = Table2['Year Recorded'].str.replace(r"\(","")
Table2['Year Recorded'] = Table2['Year Recorded'].str.replace(r"\)","")
del Table2['Gini Coefficient WB']
print(Table2)

              Country Gini Coefficient Year Recorded
0               China             38.2          2019
1               India             35.7          2011
2       United States             41.5          2019
3           Indonesia             37.3          2021
4            Pakistan             29.6          2018
..                ...              ...           ...
172         Greenland              NaN           NaN
173     Faroe Islands              NaN           NaN
174            Tuvalu             39.1          2010
175             Nauru             34.8          2012
176  Falkland Islands              NaN           NaN

[177 rows x 3 columns]

<ipython-input-89-ae4699f8b6de>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  Table2['Year Recorded'] = Table2['Year Recorded'].str.replace(r"\(","")
<ipython-input-89-ae4699f8b6de>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  Table2['Year Recorded'] = Table2['Year Recorded'].str.replace(r"\)","")

In [90]:
Na_check= print(Table2.isna())
print(Table2.isna().sum())
Removed_NAs= print(Table2.dropna())

     Country  Gini Coefficient  Year Recorded
0      False             False          False
1      False             False          False
2      False             False          False
3      False             False          False
4      False             False          False
..       ...               ...            ...
172    False              True           True
173    False              True           True
174    False             False          False
175    False             False          False
176    False              True           True

[177 rows x 3 columns]
Country              0
Gini Coefficient    12
Year Recorded       12
dtype: int64
           Country Gini Coefficient Year Recorded
0            China             38.2          2019
1            India             35.7          2011
2    United States             41.5          2019
3        Indonesia             37.3          2021
4         Pakistan             29.6          2018
..             ...              ...           ...
169     Micronesia             40.1          2013
170          Tonga             37.6          2015
171     Seychelles             32.1          2018
174         Tuvalu             39.1          2010
175          Nauru             34.8          2012

[165 rows x 3 columns]

In [73]:
print(isinstance(Table2, pd.DataFrame))

True